<p>【ご予約内容の確認・キャンセルについて】</p>
<p>
  [ご予約内容の確認]<br>
  「nomini マイページ」からお願いします。
</p>
<p>
  [キャンセルについて]<br>
  ・「nomini マイページ」もしくは「店舗への直接のお電話」から手続きをお願いします。<br>
  ・予約前日23時以降の人数減少及び予約キャンセルはキャンセル料が発生します。詳しくは以下URLの「利用規約」内の「キャンセルポリシー」をご一読下さい。<br>
  <%= link_to '利用規約はこちら', 'http://nomini.jp/?page_id=142' %>
</p>
-----------------------------------------------<br>
<p>【注意事項】</p>
<p>
  ご連絡がないままの当日キャンセルの場合はキャンセル料が100％発生する上に、当サービスのご利用を停止させて頂く可能性がございます。<br>
  キャンセルの際には必ず店舗へご連絡をお願いします。
</p>
