<p>
  ●nominiマイページ<br>
  <%= link_to nil, root_url %>
</p>
<p>
  ●お店への連絡・お問い合わせ<br>
  お店へのご連絡は、お店に直接お電話をお願いします。<br>
  ※お店からお客様へ電話連絡がある場合、こちらの電話番号と異なる場合があります。<br>
  ※トラブルにつきましては、早期に解決するためにも、まずは店舗にお申し出くださいますようお願いします。
</p>
