<div class="point-description text-center">
  <h3 class="main-text mb-4">nominiポイントとは？</h3>
  <%= link_to 'http://nomini.jp/point.html', class: 'btn main-btn text-center btn-lg' do %>詳しくはこちら<% end %>
</div>
