<p><%= @reservation.user.full_name_kana %>様</p>

<p>
  この度は『nomini』をご利用いただき、誠にありがとうございました。<br>
  以下の通りご予約の取消が完了しました。<br>
  ※このメールの内容に覚えがない場合は、恐れ入りますが、直接お店までお問い合わせください。
</p>

-----------------------------------------------<br>
<%= render 'mailers/shared/reservation_content', reservation: @reservation %>
-----------------------------------------------<br>
<%= render 'mailers/shared/cancel_provision' %>
-----------------------------------------------<br>
<%= render 'mailers/shared/mypage_notes' %>

このメールは配信専用です。返信はできませんので御了承ください。
