<p><%= @reservation.user.full_name_kana %></p>

<p>
  いつも『nomini』をご利用いただき、誠にありがとうございます。<br>
  以下の予約をキャンセルしました。<br>
</p>

<%= render 'mailers/shared/reservation_content_for_web', reservation: @reservation %>

<p>
  ●nominiマイページ<br>
  <%= link_to nil, root_url %>
</p>

<%= render 'mailers/shared/mail_footer' %>
