<p>nomini 担当者各位</p>

<p>
  以下の予約がキャンセルされました。<br>
  店舗にキャンセル可否の確認をお願いいたします。<br>
  <%= link_to '予約管理ページへ', admin_reservation_url(@reservation) %>
</p>

<%= render 'mailers/shared/reservation_content_for_web', reservation: @reservation %>

<p>
  ●nominiマイページ<br>
  <%= link_to nil, root_url %>
</p>

<%= render 'mailers/shared/mail_footer' %>
