<p>nomini 担当者各位</p>

<p>
  以下の予約が取り消されました。<br>
  <%= link_to '管理ページへ', admin_reservation_url(@reservation) %>
</p>

-----------------------------------------------<br>
<%= render 'mailers/shared/reservation_content', reservation: @reservation %>
-----------------------------------------------<br>
<%= render 'mailers/shared/cancel_provision' %>
-----------------------------------------------<br>
<%= render 'mailers/shared/mypage_notes' %>

このメールは配信専用です。返信はできませんので御了承ください。
