<p><%= @reservation.shop.name %> ご担当者様</p>

<p>
  いつも『nomini』をご利用いただき、誠にありがとうございます。<br>
  本日nomini会員により利用させて頂きました内容の承認又は変更をお願い致します。<br>
  下記URLより承認又は変更の操作をお願いします。
</p>

<p>
  以下、URLから金額の確定をよろしくお願いいたします<br>
  <%= link_to nil, new_shop_page_reservation_payment_url(@reservation) %>
</p>

<%= render 'mailers/shared/reservation_content_for_web', reservation: @reservation %>

<p>
  【注意事項】</br>
  本メール到着より48時間以内に必ず承認又は変更を行ってください。<br>
  48時間を超えて操作が行われない場合には現状の内容で承認させて頂きます。<br>
  ※当日の人数が増えている場合は必ず変更をお願い致します。変更されていない場合は当初予約金額分のみのお振込みとなります。<br>
   また48時間経過後の申請は受け付けておりませんのでご注意ください。
</p>

<%= render 'mailers/shared/mail_footer' %>
