<p><%= @reservation.user.full_name_kana %>様</p>

<p>
  この度は『nomini』をご利用いただき、誠にありがとうございます。<br>
  下記予約が成立しましたので、予約日時になりましたら店舗をご利用ください。<br>

  ※このメールの内容に覚えがない場合は、恐れ入りますが、直接お店までお問い合わせください。
</p>

-----------------------------------------------<br>
<%= render 'mailers/shared/reservation_content', reservation: @reservation %>
-----------------------------------------------<br>
<%= render 'mailers/shared/mypage_notes' %>
-----------------------------------------------<br>
<%= render 'mailers/shared/mail_footer' %>

<p>このメールは配信専用です。返信はできませんので御了承ください。</p>
