<p><%= @reservation.user.full_name_kana %></p>

<p>
  いつも『nomini』をご利用いただき、誠にありがとうございます。<br>
  以下の通り予約を申請致します。<br>
  店舗側のご回答をお待ちください。
</p>

<%= render 'mailers/shared/reservation_content_for_web', reservation: @reservation %>

<%= render 'mailers/shared/mail_footer' %>
