<p><%= @reservation.user.full_name_kana %>様</p>

<p>
  この度は『nomini』をご利用いただき、誠にありがとうございます。<br>
  大変恐縮ですが店舗予約状況よりご予約不可となります。<br>
  恐れ入りますが他店舗又は時間を変更し改めてご予約申請頂けますよう宜しくお願い致します。<br>

  ※このメールの内容に覚えがない場合は、恐れ入りますが、直接お店までお問い合わせください。
</p>
-----------------------------------------------<br>
<%= render 'mailers/shared/reservation_content', reservation: @reservation %>
-----------------------------------------------<br>
<%= render 'mailers/shared/mypage_notes' %>
-----------------------------------------------<br>
<%= render 'mailers/shared/mail_footer' %>
