<p><%= @reservation.user.full_name_kana %></p>

<p>
  以下の通り予約変更（人数・時間）の申請を承りました。<br>
  申請可否のご連絡をお待ちください。
</p>

<%= render 'mailers/shared/reservation_content_for_web', reservation: @reservation %>

<p>※お会計はご登録されているクレジットカードへ後日請求させていただきます。</p>

<%= render 'mailers/shared/mail_footer' %>
