<p>nomini様</p>

<p>
  以下の通り予約変更（人数・時間）の申請が入りました。<br>
  <%= link_to '予約管理ページへ', admin_reservation_url(@reservation) %>
</p>

<%= render 'mailers/shared/reservation_content_for_web', reservation: @reservation %>

<p>
  【注意事項】<br>
  本メール到着より48時間以内に必ず承認又は否認を行ってください。<br>
  48時間を超えて操作が行われない場合には予約変更を承認とさせていただきます。<br>
</p>

<p>
  ※ このメールは自動配信されています。<br>
  このメールにご返信されても、お問い合わせ等にはお答えできません。
</p>

このメールは配信専用です。返信はできませんので御了承ください。
