<p>nomini 担当者各位</p>

<p>
  以下の予約が変更されました<br>
  <%= link_to '予約管理ページはこちら', admin_reservation_url(@reservation) %>
</p>

-----------------------------------------------<br>
<%= render 'mailers/shared/reservation_content', reservation: @reservation %>
-----------------------------------------------<br>
<%= render 'mailers/shared/cancel_provision' %>
-----------------------------------------------<br>

このメールは配信専用です。返信はできませんので御了承ください。
