<p><%= @payment.user.full_name_kana %>様</p>

<p>
  お世話になります。<br>
  この度はnominiのご利用誠にありがとうございました。<br>

  以下ご利用内容のお支払いを<%= link_to 'nomini「利用規約」', 'http://nomini.jp/?page_id=142' %>に基づき自動決済させて頂きました。<br>
  内容をご確認頂けますようよろしくお願い致します。<br>

  またのご利用をお待ちしております。<br>
</p>

-----------------------------------------------<br>
<%= render 'mailers/shared/reservation_content', reservation: @payment.reservation %>
-----------------------------------------------<br>
<%= render 'mailers/shared/mail_footer' %>
