<div class="main-area container bg-white mt-3">
  <h2 class="text-info text-center page-heading mb-4 mt-4">友人紹介</h2>
  <p class="text-center">紹介したご友人がnominiで店舗を利用すると、貴方に3000ポイントが付与されます。</p>
  <%= form_for @introduction, url: introduction_path do |f| %>
    <div class="field form-group text-center login-form">
      <%= f.email_field :introduced_email, placeholder: t("activerecord.attributes.user.email"), class: "form-control" %>
    </div>
    <div class="actions form-group text-center">
      <%= f.submit "紹介メール送信", class: "btn btn-info" %>
    </div>
  <% end %>
</div>
