<div class="container mt-3">
  <h2 class="main-text text-center page-heading mb-4 mt-4">友人紹介</h2>
  <p class="text-center">紹介したご友人がnominiで店舗を利用すると、貴方に<%= Introduction::INTRODUCTION_POINT %>ポイントが付与されます。</p>
  <%= form_for @introduction, url: introduction_path do |f| %>
    <div class="sign-up-countainer">
      <div class="field form-group center-form email-form">
        <%= f.email_field :introduced_email, placeholder: "メールアドレス(ID)", class: "form-control text-center" %>
      </div>
    </div>
    <div class="actions form-group text-center">
      <%= f.submit "紹介メール送信", class: "btn main-btn" %>
    </div>
  <% end %>
</div>
