<div class="container mt-3 inquiry-description text-center">
  <h2 class="main-text text-center page-heading mb-5 mt-5">お問い合わせ</h2>
  <p class="text-center">nominiへの要望、またはサービスの不明点やトラブルをLINE@にてお応え致します。</p>
  <p class="text-center">nomini LINE@を友達追加して気兼ねなくご連絡下さい。</p>
  <%= link_to 'https://line.me/R/ti/p/%40tmn7592r', class: 'btn main-btn text-center btn-lg mt-3' do %>お問い合わせ窓口<% end %>
  <div class="inquiry-example p-3 mt-4">
    <h3 class="main-text mt-3 mb-4">お問い合わせ例</h3>
    <p>初めて使ってみるけど、どうやって使っていいかわからない</p>
    <p>予約時の内容と違う</p>
    <p>こんなサービスがあったらいい</p>
    <p>こんな場所に提携店舗が欲しい</p>
    <p>サービスの退会をしたい</p>
  </div>
</div>
