<div class="bg-guide-img">
  <div class="bg-guide-img-cover">
    <div class="bg-guide-img-contents">
      <h1 class="mb-5">ご登録ありがとうございます</h1>
      <h2 class="mb-5">登録時に入力したメールアドレス宛に登録確認メールが送信されました</h2>
      <p class="mb-4">確認メールのご確認をよろしくお願いいたします。</p>
      <%= link_to 'ログイン画面に戻る', new_user_session_path, class: "btn main-btn btn-lg login-btn mt-3" %>
    </div>
  </div>
</div>
