<div class="bg-guide-img">
  <div class="bg-guide-img-cover">
    <div class="bg-guide-img-contents">
      <h1 class="mb-5">nominiメンバー登録</h1>
      <h2 class="mb-5">「良かったら今度飲みに...」であなたのファンを作りましょう</h2>
      <p class="mb-4"><b>入会月翌月</b>まで会費無料</p>
      <p class="mb-4">月額会費９８０円で<b>幹事無料の店舗使い放題</b></p>
      <p class="mb-4">月１回以上の利用で、<b>翌月の会費が無料に</b></p>
      <%= link_to 'メンバーになる', new_subscription_path(shop_id: @shop&.id), class: "btn main-btn btn-lg login-btn mt-3" %>
    </div>
  </div>
</div>
