<div class="bg-guide-img">
  <div class="bg-guide-img-cover">
    <div class="bg-guide-img-contents">
      <h1 class="mb-5">nominiメンバー登録</h1>
      <h2 class="mb-5">「良かったら今度飲みに...」であなたのファンを作りましょう</h2>
      <%= link_to 'メンバーになる', new_subscription_path(shop_id: @shop&.id), class: "btn main-btn btn-lg login-btn mt-5" %>
    </div>
  </div>
</div>
