<h1>アンケート</h1>

<%= form_with url: reservation_enquetes_path(params[:reservation_id]), local: true do |form| %>
  <% EnqueteItem.all.each do |enquete_item| %>
    <p><b><%= enquete_item.content %></b><p>
  <% end %>

  <%= form.submit '送信' %>
<% end %>

