$text-main: #333;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 76px;
  @media (max-width: 767px) {
    margin-bottom: 136px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
  border-top: 1px solid #e3e8ed;
  .container{
    height: 100%;
    .navbar{
      height: 100%;
    }
  }
  @media (max-width: 767px) {
    height: 120px;
    .nav-item{
      text-align: center;
    }
    .copy-area{
      width: 100%;
      text-align: center;
    }
    .contact-area{
      width: 100%;
      text-align: center;
    }
  }
}

.shop-list{
  border: 1px solid #e3e8ed;
}

.shop-show-image{
  width: 100%;
  height: auto;
}

.nomini-header{
  border-bottom: 1px solid #e3e8ed;
}

.alert-area{
  border: 1px solid #e3e8ed;
  .alert{
    margin: 0;
  }
}

.main-area{
  border: 1px solid #e3e8ed;
  .page-heading{
    font-size: 1.5rem;
    font-weight: 800;
  }
}

.login-form{
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
}

.center-form{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.signup-label{
  font-size: 0.9rem;
  display: flex;
	align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}

.facebook-login-button{
  color: #fff;
  background: #4267b2;
  width: auto;
  text-align: center;
  padding: 10px 20px;
  &:hover{
    color: #fff;
    background: #3b5998;
  }
  .fa-facebook{
    margin-right: 5px;
  }
}

.account-sub{
  border-top: 1px solid #e3e8ed;
}

.user-info{
  color: #999;
}

.top-nav{
  .nav{
    .nav-item{
      color: #999;
    }
  }
}

.active-menu{
  background: #f6cf8a;
  .nav-link{
    color: #fff !important;
  }
}
.text-black{
  color: #333;
}

.reservation-tr{
  &:hover{
    background-color: #FFDD95;
    .enquete-link{
      background-color: #fff;
    }
  }
  .reservation-td{
    &:hover{
      text-decoration: none;
      color: #333;
    }
  }
  @media (max-width: 767px) {
    margin-bottom: 8px;
    border-left: 1px solid #e3e8ed;
    border-right: 1px solid #e3e8ed;
    border-bottom: 1px solid #e3e8ed;
  }
}

.recommend-area{
  height: 5%;
  @media (max-width: 767px){
    display: none;
  }
}

.shop-description{
  font-size: 0.8rem;
}

.shop-name{
  font-size: 1.2rem;
  font-weight: 800;
  color: $text-main;
}

.shop-detail-title{
  font-size: 1.2rem;
  font-weight: 600;
}

.course-price{
  font-size: 0.8rem;
}

.shop-detail{
  white-space: pre-wrap;
}

.image-wrap{
  overflow: hidden;
  width: 100%;/* トリミングしたい枠の幅 */
  height: 100%;/* トリミングしたい枠の高さ */
}

.visible-origin-xs {
  display: none;
}

/* mobile */
@media (max-width: 767px) {
  .mobile-only-inline{
    display: inline;;
  }
  .pc-only-inline{
    display: none;
  }
  .pc-only-block{
    display: none;
  }
  .shop-detail-btn{
    width: 100%;
  }
  .shop-name{
    margin-left: 16px;
    padding-bottom: 8px;
  }
  .user-menu{
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 12px;
  }
  .shop-guide-btn{
    margin-right: 48px;
  }
  .dropdown-menu.show{
    right: 0 !important;
    left: auto !important;
  }
  .shop-image{
    height: auto;
    width: 120%;
  }
  .shop-info-1{
    margin-top: 16px;
  }
}

/* PC */
@media (min-width: 767px){
  .mobile-only-inline{
    display: none;
  }
  .pc-only-inline{
    display: inline;
  }
  .shop-list{
    height: 150px;
  }
  .shop-name{
    padding-top: 8px;
  }
  .shop-image{
    height: 150%;
    width: auto;
  }
}

.recommend-shop-name{
  font-size: 0.8rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  a{
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
}

#reservation_use_time_4i,#reservation_use_time_5i{
  width: 30%;
  display: inline-block;
}

.confirm-label{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0;
  height: 100%;
  display: inline;
  vertical-align: middle;
}
.confirm-value, .message-format{
  font-size: 1.2rem;
  margin-bottom: 0;
  @media (max-width: 767px) {
      padding-top: 8px;
      padding-left: 8px;
  }
}

.confirm-list{
  border-bottom: 1px solid #e3e8ed;
  padding: 16px 0;
  @media (max-width: 767px) {
      padding: 8px 0;
  }
}

.confirm-box{
  padding: 0 16px;
}

.reservation-chack{
  padding-left: 24px;
  margin-top: 16px;
}

.new_reservation{
  .help-block{
    display: none;
  }
}

.enquete-label{
  font-weight: bold;
  display: flex;
	align-items: center;
  @media (max-width: 767px){
    padding-left: 0;
    padding-bottom: 16px;
  }
}

.enquete-radio{
  display: flex;
	align-items: center;
}
.radio-input{
  margin-bottom: 2px;
}
