<p>ご利用者各位</p>

<p>お世話になります。</p>

<p>平素はnominiをご利用頂き、誠にありがとうございます。</p>

<p>
この度、本日12/20 よりnominiを大幅にリニューアルする事になりました。<br>
恐れ入りますが、以下必ずご確認頂ければと思います。<br>
</p>

--------------------------------------------<br>

<p>■変更点</p>

<p>
①電話一本で予約完了<br>
提携店舗へ連絡し、「nominiの会員です」とお伝え頂ければ、簡単かつ迅速に予約が完了します。<br>
※ 予約機能を扱うためには本会員登録が必要になります。
</p>

<p>
②システムによるカード決済(全ての予約) <br>
本サービスのシステムでカード決済を行うことでお会計を行なっていただきます。<br>
お会計がスムーズになり、幹事無料という事が周りに知られません。<br>
※ 決済は店舗利用後に金額が確定し、決済メールが送付され、そこから決済していただく形になります。<br>
</p>

<p>
③月額会費制<br>
本サービスで予約機能等すべての機能を利用するためには本会員登録が必要です。<br>
 本会員登録することで月々980円の会費が発生します(「かんたん会員登録」の段階では料金はかかりません)。<br>
本会員登録から一ヶ月間の会費は無料となります。 また、20,000円/月の利用がある方は、当月の会費が免除となります。 
</p>

<p>
④紹介ポイント制度 お知り合いにnominiを紹介し、紹介された方の利用が確認出来次第、2,000Pを付与します。 ポイントはAmazonでご利用が可能です。 <br> 
</p>

<p>
<b>■nominiユーザーへのお願い事項 </b><br>
</p>
下記URLにアクセスしメール下部に記載しているメールアドレス、パスワードでnominiへログインをお願い致します。<br>
アクセスいただくことで「かんたん会員登録」が完了となります。<br>
※本日以降、現在の予約システムは利用出来なくなります。お手数ですが、お早めに再登録をお願い致します。
</p>

<p><%= link_to nil, confirmation_url(@resource, confirmation_token: @token) %></p>


<p>
  <table>
    <tr>
      <th>ID(メールアドレス)</th><td><%= @resource.email %></td>
    </tr>
    <tr>
      <th>パスワード</th><td><%= @resource.password %></td>
    </tr>
  </table>
</p>

<%= render 'mailers/shared/mail_footer' %>
