<p><%= @resource.full_name_kana %>様</p>

<p>この度はnominiへの会員登録をお申し込みいただき、誠にありがとうございました。</p>
<p>以下のURLをクリック、またはお使いのブラウザのアドレスバーに入力いただきアクセスしていただいた時点で会員登録が完了します。</p>

<p><%= link_to nil, confirmation_url(@resource, confirmation_token: @token) %></p>
