<p><%= @resource.email %> 様</p>

<p>
  パスワード再設定URLをお知らせします。<br>
  下記のURLよりパスワード再設定をお願いします。
</p>
<p>
  <%= link_to nil, edit_password_url(@resource, reset_password_token: @token) %><br>
  ※変更手続きは、本メールを受信してから24時間以内に行ってください。
</p>

<%= render 'mailers/shared/mail_footer' %>
