<header class="main-header">
  <!-- Logo -->
  <%= link_to admin_dashboard_path, class: 'logo' do %>
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>A</b>LT</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>nomini</b>管理画面</span>
  <% end %>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li><%#= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
      </ul>
    </div>
  </nav>
</header>
