<aside id="js_side_menu"
       class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <%= link_to admin_dashboard_path do %>
          <i class="fa fa-dashboard"></i> <span>ダッシュボード</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_shops_path do %>
          <i class="fa fa-beer"></i> <span>店舗</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_reservation_categories_path do %>
          <i class="fa fa-beer"></i> <span>予約カテゴリ</span>
        <% end %>
      </li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
