<footer class="footer bg-header-color">
  <div class="container">
    <nav class="navbar navbar-light">
      <div class="nav-item text-white copy-area">
        <span class="copy">nomini from 2017</span>
      </div>
      <div class="nav-item contact-area">
        <a href="https://line.me/R/ti/p/%40tmn7592r" class="btn btn-outline-light contact-btn">LINE@でお問い合わせ</a>
      </div>
    </nav>
  </div>
</footer>
