<footer class="footer">
  <div class="container">
    <nav class="navbar navbar-light">
      <div class="nav-item text-muted">
        <span>nomini from 2017</span>
      </div>
      <div class="nav-item">
        <a href="http://line.me/R/ti/p/%40muv5134q" class="btn btn-outline-info">LINE@でお問い合わせ</a>
      </div>
    </nav>
  </div>
</footer>
