<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<nav class="navbar navbar-light container">
  <%= link_to image_tag("logo.png", class: "nomini-logo-img"), mypage_path, class: "nomini-logo-link" %>
  <%= render 'layouts/mobile_nav' %>
  <%= render 'layouts/pc_nav' %>
</nav>
